<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="Atom"> <action name="Execute">
                <execute>env ATOM_DISABLE_SHELLING_OUT_FOR_ENVIRONMENT=false /usr/bin/atom</execute>
            </action> </item>
            <item label="CMake"> <action name="Execute">
                <execute>cmake-gui</execute>
            </action> </item>
            <item label="CMake curses GUI (ccmake)"> <action name="Execute">
                <execute>alacritty -e ccmake</execute>
            </action> </item>
            <item label="Electron 9"> <action name="Execute">
                <execute>electron9</execute>
            </action> </item>
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>alacritty -e python</execute>
            </action> </item>
            <item label="Visual Studio Code"> <action name="Execute">
                <execute>/opt/visual-studio-code/code --no-sandbox</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="Nano"> <action name="Execute">
                <execute>alacritty -e nano</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="10" label="Arcade">
                <item label="PacMan"> <action name="Execute">
                    <execute>pacman</execute>
                </action> </item>
            </menu>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="Qt V4L2 video capture utility"> <action name="Execute">
                <execute>qvidcap</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="FireFox"> <action name="Execute">
                <execute>firefox</execute>
            </action> </item>
            <item label="Google Chrome"> <action name="Execute">
                <execute>google-chrome-stable</execute>
            </action> </item>
        </menu>
        <menu id="4" label="Science">
            <item label="bc"> <action name="Execute">
                <execute>alacritty -e bc</execute>
            </action> </item>
            <item label="dc"> <action name="Execute">
                <execute>alacritty -e dc</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Alacritty"> <action name="Execute">
                <execute>alacritty</execute>
            </action> </item>
            <item label="File Manager PCManFM"> <action name="Execute">
                <execute>pcmanfm</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>alacritty -e git</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Desktop Preferences"> <action name="Execute">
                    <execute>pcmanfm --desktop-pref</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>libfm-pref-apps</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                <execute>alacritty -e htop</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>alacritty -e pstree.x11</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>alacritty -e pstree</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>alacritty -e top</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="Info"> <action name="Execute">
                <execute>alacritty -e info</execute>
            </action> </item>
            <item label="Plank"> <action name="Execute">
                <execute>plank</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
